.page {
	box-sizing: border-box;
	padding: 2em;
	margin-top: 15%;
}

@media (min-width: 600px) {
	.page {
		padding: 3em 2em;
	}
}

@media (min-width: 800px) {
	.page {
		padding: 4em 2em;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}